*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* Star header */
header{
 position: absolute;
 top: 0;
 left:  0;
 width: 100%;

    
}
header nav ul{
    text-decoration: none;
    color: black;
    list-style: none;
}
.container{
    /* display: flex; */
    max-width: 1199px;
    margin: auto;
    border: 1px solid red;
    
}
.header_content {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    margin-right: 55px 15px;
}
.header_content li a{
    padding: 55px 15px;
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;

}
.header_content span{
    display: inline-block;
}
.header_content i::before{
    vertical-align: middle;
    margin-top: -3px;
    font-size: 9px;
}
a span {
    display: inline-block;
    transition: all 0.3s;
  }
  span i:hover {
    color: #f55f8d;
  }
  a:hover span {
    animation: upToDown 0.3s;
  }
  
  @keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }

  
/* .header_content button{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    padding: 25px 35px;
    border-radius: 30px;
    line-height: 1.2;
    border: none;
    cursor: pointer;
} */
.header_content button{
    /*  linear-gradient(hướng trải màu, danh sách các màu );
        _ to right: màu đang được trải từ trái sang phải
        _ #fc00ff 0%, #00dbde 51%, #fc00ff 100%: thứ tự màu cần trải, phần trăm sau mã màu là vị trí bắt đầu trải của màu đó.
          Nếu không thêm phần trăm thì linear-gradient sẽ tự chia vùng màu sao cho đều nhau
    */
    background-image: linear-gradient(
      to right,
      #f55f8d 0%,
      #f8ae56 51%,
      #f55f8d 100%
    );
  
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    /*   tăng kích thước của màu nền, giúp vùng trải màu rộng hơn làm màu loan ra rộng hơn */
    background-size: 200%;

    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .header_content button:hover {

    /*   Khi hover chỉnh vị trí ưu tiên hiển thị của màu nền. 
    Mặc định không xét giá trị cho background-position 
    thì sẽ có giá trị mặc định background-position: left top; 
    */
    background-position: right center;
  
    color: #fff;
    text-decoration: none;
  }
  




/* End header */
/* Star Carousel */
.carousel{
    background-size: 100%;
    padding-top: 180px;
    background-size: 100%;
    background-image: url(./Samar/pic2.png);
    background-position: top;
    overflow: hidden;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.container{
    max-width: 1199px;
    margin: auto;
}
.carousel__contect{
    display: flex;
    align-items: center;
}
.contect__left{
    width: 60%;
}
.contect__right{
    width: 30%;
    border: 1px solid red;
}
.saCarousel__banner {
    width: 570px;
    margin-left: 50px;
    height: 80vh;
}
.saCarousel__banner img {
    max-width: 100%;
    display: block;
}

.title-top p{
font-weight: 600;
font-size: 22px;
color: #f55f8d;
margin-bottom: 20px;
}

.title-top h1{
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.title .title-center p{
  font-size: 18px;
    margin-bottom: 15px;
    color: #262626;
}

.title ul li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 40px;
  
}
.title li{
  font-size: 20px;
}

.title i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 35px;
  font-weight: 900;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  margin-right: 10px;
}

.btn-gradiant{
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.btn-gradiant:hover {
  background-position: right center;
}

.animation1{
  animation-delay: 0.75s;
}
.animation2{
  animation-delay: 2s;
}
.animation3{
  animation-delay: 4s;
}
.animation4{
  animation-delay: 5s;
}
.animation5{
  animation-delay: 6s;
}
/* End Carousel */
/* star blog */
.blog{
  padding-bottom: 0;
  background-image: url(./Samar/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.text p{
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 20px;
}

.text h2{
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  font-weight: 800;
}

.blog-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 40px;
}
.blog-item{
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0px);
    transition: 0.75s;
}

.blog-item:hover{
  transform: translateY(-10px);
}
.blog-item img{
  width: 250px;
}

.blog-item h3{
  margin: 20px;
  font-weight: 700;
  color: #262626;
}

p{
  display: block;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* end blog */
/* Star aboutUS */
.aboutus-section{
  margin-top: 215px;
}

.aboutus{
  background-image: url(./Samar/bg15.png);
  background-position: right center;
  background-size: 100%;
  padding-bottom: 85px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.aboutus_content{
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.about-left{
  width: 60%;
  position: absolute;
  left: -17%;
}

.about-left img{
 width: 100%;
 border-radius: 0 100px 100px 0;
}

.about-right{
  width: 50%;
}
.title p{
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
}

.title h2{
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}
.about-right p{
  font-size: 16px;
  margin-bottom: 20px;
}

.about-right i{
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

li{
  list-style: none;
}

.about-right li{
  margin-bottom: 10px;
}

.about-right .mt-10{
  margin-top: 20px;
}
/* End aboutUs */
/* Star Number */
.number{
  background-image: url(./Samar/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}
.number-content{
  display: flex;
  justify-content: space-between;
}

.number-item{
  width: 25%;
  margin: 0 auto;
}

.number-item i{
  font-size: 45px;
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number-item p:first-of-type{
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  padding: 0%;
  margin: 0%;
}

.number-item p:last-of-type{
  color: #262626;
  font-size: 18px;
}
/* End Number */
/* Star feature */
.feature{
  background-image: url(./Samar/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}
.feature-content{
  display: flex;
}

.feature-item{
  padding: 0 50px 30px 0;
}

.feature-item {
  background: white;
  padding: 20px;
  position: relative;
  margin-left:30px;
  color: #262626;
  border-radius: 10px;
  
}
.feature-bg {
  position: relative;
  /* z-index:  định nghĩa thứ tự của các thẻ position 
    Mặc định thẻ nào có position và tạo ra trước (theo thứ tự code html từ trên xuống) 
    thì sẽ có index nhỏ hơn thẻ position tạo ra sau
  => để đoạn chữ nằm trên phần after phải xét index lớn hơn after
  */
  z-index:1;
  color: black;
  transition: all 0.5s;
}

.feature-item::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
  color: #fff;
}
.feature-bg:hover{
  color: #fff;
}
.feature-item:hover::after {
  opacity: 1;
}

.feature-group{
  padding: 0 0 10px 0;
}


.feature-bg h3{
  font-weight: 600;
  font-size: 1.3rem;
}

.pl-10{
 margin-left: 30px;
 padding: 20px 0;
}

.feature-right, .feature-right{
width: 50%
}
.feature-banner{
  margin-right: -80px;
}

.feature-banner img{
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2{
  0%{
    transform: rotate(1deg); translate: (2px,2px);
  }
  50%{
    transform: rotate(-1deg);translate: (-2px,-2px);
  }
  100%{
    transform: rotate(1deg); translate: (2px,2px);
  }
}

.animate-feature{
  animation-delay: 1s;
}
.animate-featur2{
  animation-delay: 1.5s;
}
.animate-feature3{
  animation-delay: 2s;
}

/* End Feature */

/* Star Portfolio */
.pt-10{
  padding-top: 115px;
}

.portfolio{
  background-image: url(./Samar/bg17.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */

}
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(2,1fr) 1.5fr;
  gap: 35px;
}
.portfolio-item{
  border-radius: 10px;
  /* border: 1px solid green; */
  position: relative;
  overflow: hidden;
}

.item1{
  grid-column: 1/span 2;
}
.portfolio-item img{
  width: 100%;
  height: 100%;
}
.item5{
  grid-row: 2/4;
  grid-column: 3/4;
}

.item6{
  grid-column: 1/span 2;
}
.portfolio-overplay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  opacity: 0;
  transition: all .75s;
}
.portfolio-icon{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px,-20px);
  transition: all .75s;
}
.portfolio-text{
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  width: 100%;
  background-color: #f55f8d;
}

.portfolio-text h3{
  color: #fff;
  font-size: 30px;
}
.item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item:hover::before {
  left: 125%;
}


/* End Portfolio */
/* Star plan */
.section-plan{
  padding-top: 115px;
}
.plan{
  background-image: url(./Samar/bg16.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.plan-title{
  text-align: center;
}
.plan-title p{
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}

.plan-title h2{
  font-size: 70px;
  font-weight: 700;
}

.plan-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan-item{
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: .5s;
}

.plan-item:hover{
  border-image: url(./Samar/br.png) 1 round;
}
.plan-item img{
  width: 125px;
}

.plan-item h3{
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}

.plan-item span{
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan-item ul{
  text-align: left;
  border-top: 1px solid #e1e1f0;
  padding: 15px 0;
}
.plan-item li{
  padding: 5px 0;
}

.plan-item i{
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* End plan */
/* Star testimonial */
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}



/* End testimonial */